{
    box-sizing: border-box;
    -moz-box-sizing: boder-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 100%;
    line-height: 1.2;
}

.mp{
    margin: 1%;
    padding: 1%;
}

#wrap{
    width:78%;
    margin: 0% 12.5%;
    background-color: white;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    width: 100%;
    overflow: auto;
    margin: 0 auto;
}

nav ul li{
    width: 100%;
    float:left;
}

nav ul li a{
    background-color: #4E9ACF;
    color: white;
    display: block;
    padding: 10px;
    margin: 2px;
    border-radius: 4px 4px;
    text-align: center;
}

nav ul li a:hover{
    background-color: darkblue;
}

nav ul li a:active{
    background-color: mediumblue;
}
/*nav ul li a:visited{
    background-color: darkslateblue;
}*/

.form-group label.control-label.required:after {
    content: " *";
    color: #a94442;;
}

#omnie, #kontakt, #osiagniecia{
    padding: 10px 0px;
    overflow: auto;
    clear: both;
}
#kontakt ul li a{
    color: #4E9ACF;
    display: block;
    text-align: center;
    padding-top: 10px;

}

.dwakol{
    width: 50%;
    float: left;
    padding: 0px;
}

.trzkol{
    width: 33,3333%;
    float: left;
    padding: 10px 3%;
}


h1,h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6em;
    color: darkgrey;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

@media screen and(max-width:650px){
    #wrap{
        width:75%;
        margin: 0% 12.5%;
    }

}

//@media screen and(max-width:900px) and (or)
