{% extends 'baseHearIt.html.twig' %}
{% block body %}
    {% block header %}{% include 'header.html.twig' %}{% endblock %}
    <div class="container ">
        <div class="row navbar navbar-default">
            <h2>Wyszukiwarka</h2>
        </div>
    </div>
    <div class="container">
        <form class="mp row navbar navbar-default" role="form" action="{{ url('wyszukiwarka_sresult') }}" method="get">
            <div class="col-lg-8">
                <form style="margin:5px, padding:5px" class="form-horizontal" role="form" action="{{ url('wyszukiwarka_sresult') }}" method="get">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            {#  form_start(form, { method: 'post', action: url('tag_add') }) #}
                            {#  form_widget(form) #}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="autor" class="col-sm-2 control-label">Autor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="autor" name="autor" placeholder="autor utworu">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tytul" class="col-sm-2 control-label">Tytuł</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tytul" name="tytul" placeholder="tytuł utworu">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Szukaj" class="btn btn-default">
                        </div>
                    </div>
                    {#  form_end(form) #}
                </form>
            </div>
        </form>
    </div>


    <div class="container ">
        <div class="row navbar navbar-default">
            <h2>Wyszukiwanie zaawansowane</h2>
        </div>
    </div>
    <div class="container">
        <div class="mp row navbar navbar-default">
            <div class="col-lg-8">
                <form style="margin:5px, padding:5px" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="autor" class="col-sm-2 control-label">Autor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="autor" placeholder="autor utworu">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tytul" class="col-sm-2 control-label">Tytuł</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tytul" placeholder="tytuł utworu">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tagi" class="col-sm-2 control-label">tagi</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tagi" placeholder="tagi">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gatunek" class="col-sm-2 control-label">gatunek</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="gatunek" placeholder="gatunek">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tematyka" class="col-sm-2 control-label">tematyka</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tematyka" placeholder="tematyka">
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Szukaj</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}