<div class="mp container navbar navbar-default">
    <div class="container-fluid">
        <h2 style="color:darkslateblue" >Najwyżej oceniane widea użytkowników:</h2>
        <div class="mp row">
            {% for row in hearIt %}
                <div style="margin:5px, padding:5px" class="mp">
                    <div class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Autor {{ row.pseudonim|upper }} </div>
                    <a  style="color:darkslateblue" class="list-group-item" href="../play/{{  row.video_id }}"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;{{ row.tytul|upper }}</a>
                    <div class="list-group-item"><i class="fa fa-star" aria-hidden="true"></i>&nbsp; Ocena: {{ row.ocena }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>