<div class="container ">
    <div style="color:darkslateblue" class="row navbar navbar-default">
        <h2>Najwyżej oceniane playlisty urzytkowników:</h2>
    </div>
</div>

{% for row in playlistByUser %}
    <div class="mp container navbar navbar-default">
        <div class="container-fluid">
            <div class="mp list-group-item"><h3>Playlista: {{ row.nazwa|upper}}</h3></div>
            <div class="mp list-group-item"><i class="fa fa-star" aria-hidden="true"></i>&nbsp; Ocena: {{ row.ocena }} </div>
            <div class="mp row">
                {% for row in playlistByUser %}
                    <a style="color:darkslateblue"class="list-group-item" href="../play/{{ row.video_id }}"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;{{ row.tytul|upper }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
